@model IdentityServer.Models.RolesViewModel
<div class="modal-dialog">
    <div class="modal-content">
        <form asp-action="EditRoles" asp-controller="ManageUser">
            <div class="modal-header">
                <h2>Novo grupo de permissão</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>

            </div>
            <div class="modal-body">
                 <input type="hidden" asp-for="Id" />
                <div class="form-group">
                    <label for="exampleInputEmail1">Nome do grupo de permissão *</label>
                    <input asp-for="Nome" type="text" class="form-control" placeholder="Enter email">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Descrição</label>
                    <input asp-for="Descricao" type="text" class="form-control" placeholder="Descrição">
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" data-dismiss="modal" aria-label="Close" class="btn btn-primary">Cancelar</button>
                <button type="submit" class="btn btn-primary">Salvar</button>
            </div>
        </form>
    </div>

</div>